<div>
  <span id='answer_marker' class="icon-edit"></span>
  <input type='text' placeholder='{{ placeholder |default("your answer") }}' id='answerbox' autofocus>
  <button id='submit' class='button button-primary'>Submit</button>
</div>
<script>
  // Ping api server telling it that a user has found a question.
  var data = JSON.stringify({'userHash': userHash,
    'userName': userName,
    'url': window.location.href});
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("POST", "{{ api_base}}/userFoundQuestion", true);
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.onreadystatechange = function(){
  if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
      var dat = JSON.parse(xmlhttp.responseText);
    }
  }
  xmlhttp.send(data);
  // Things to do if a user submits an answer
  document.getElementById('submit').onclick = function (){
    var answer = document.getElementById('answerbox').value;
    var hash = sha512(answer);
    var url = '/' + hash + '.html';
    // Try to get see if the url exists
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", url, true);
    xmlhttp.onreadystatechange = function(){
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
        // looks like the answer is ok. Redirect the user to the new page.
        window.location.href = url;
      } 
      if (xmlhttp.readyState == 4 && xmlhttp.status == 404){
        // warn them somehow that their answer was not ok and to keep trying.
        document.getElementById('answerbox').value = '';
        var marker = document.getElementById('answer_marker');
        marker.classList.remove('icon-edit');
        marker.classList.add('icon-alert');
      }
    }
    xmlhttp.send();
  }
document.getElementById("answerbox")
    .addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("submit").click();
    }
});
</script>
