<form>
  <input type='text' placeholder='orfik' id='answerbox'/>
  <input type='submit' id='submit' value='Submit'/>
</form>
<script>
  // Check if the user is already logged in or not
  var hsh = Cookies.get('orfikPlayer');
  if (isOnQuestionPage === true & hsh === undefined){
    window.location.href = '/';
  }
  // Ping api server telling it that a user has found a question.
  var data = JSON.stringify({'userHash': hsh, 'url': window.location.href});
  var xmlhttp = new XMLHttpRequest();
  xmlhttp.open("POST", "{{ api_base}}/userFoundQuestion", true);
  xmlhttp.setRequestHeader("Content-Type", "application/json");
  xmlhttp.withCredentials = true;
  xmlhttp.onreadystatechange = function(){
  if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
      var dat = JSON.parse(xmlhttp.responseText);
    }
  }
  xmlhttp.send(data);
  // Things to do if a user submits an answer
  document.getElementById('submit').onclick = function (){
    var progress = '→↘↓↙';
    var index = 0;
    var answer = document.getElementById('answerbox').value;
    var hash = sha512(answer);
    var url = '/' + hash + '.html';
    // Try to get see if the url exists
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", url, true);
    xmlhttp.withCredentials = true;
    xmlhttp.onreadystatechange = function(){
      document.getElementById('submit').value = progress[index];
      index += 1;
      if (xmlhttp.readyState === 4){
        document.getElementById('submit').value = 'Submit';
        if(xmlhttp.status === 200){
          window.location.href = url;
        }else {
          document.getElementById('answerbox').value = '';
          alert('Try again');
        }
      }
    }
    xmlhttp.send();
  }
</script>
