{% extends 'base.html' %}
{% block body %}
  <h1>Orfik</h1>
  <div id='login_form' style='display:none'>
      <input id='uname' placeholder='Public user name.'>
      <input id='pwd' placeholder='Secret password.'>
      <button id='login' class='button button-primary'>Login / Register</button>
    <script>
      var isOnQuestionPage = false;
      document.getElementById('login').onclick = function (){
        var uname = document.getElementById('uname').value;
        var pwd = document.getElementById('pwd').value;
        var hash = sha512(uname + pwd);
        Cookies.set('orfikPlayer', hash);
        window.location.reload();
      }
    </script>
  </div>
  <div id='begin_form' style='display:none'>
    <p>The treasure hunt begins.</p>
    {% include 'answer.html' %}
  </div>
  <script>
    var hsh = Cookies.get('orfikPlayer');
    if (hsh === undefined){
      document.getElementById('login_form').style.display='block';
      document.getElementById('begin_form').style.display='none';
    }else{
      document.getElementById('login_form').style.display='none';
      document.getElementById('begin_form').style.display='block';
    }
  </script>
{% endblock %}
