{% extends 'base.html' %}
{% block body %}
  <h2 id='myRanking'>Rankings</h1>
  <table class='striped'>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Questions solved</th>
      </tr>
    </thead>
    <tbody id='tbody'>
    </tbody>
  </table>
  <script>
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "{{ api_base }}/lb", true);
    xmlhttp.onreadystatechange = function(){
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200){
        var ranks = JSON.parse(xmlhttp.responseText)['rankings'];
        var rank = 0;
        var myrank = 0;
        var myhash = '';
        if (userHash !== null ){
          myhash = userHash.slice(0, 5);
        }
        while(true){
          rank += 1;
          if(rank in ranks){
            console.log(rank + 'in ranks');
            var players = ranks[rank];
            for(var i=0; i<players.length; ++i){
              var row = document.createElement('tr');
              var td1 = document.createElement('td');
              var td2 = document.createElement('td');
              var td3 = document.createElement('td');
              td2.setAttribute('data-player-hash', players[i]['userHash']);
              if (players[i]['userHash'] === myhash){
                document.getElementById('myRanking').innerHTML = 'Your rank: '+rank;
              }
              td1.innerHTML = rank;
              td2.innerHTML= players[i]['userName'];
              td3.innerHTML = players[i]['questionsFound'];
              row.appendChild(td1);
              row.appendChild(td2);
              row.appendChild(td3);
              document.getElementById('tbody').appendChild(row);
            }
          } else {
            console.log(rank + 'not found');
            break;
          }
        }
      }
    }
    xmlhttp.send();
  </script>
{% endblock %}
