<div class='container'>
  <form>
    <fieldset>
      <legend>Identify yourself</legend>
      <div class='row'>
        <div class="col-sm-12 col-md-6">
          <label for='uname'>User name</label>
          <input id='uname' placeholder='a man'>
        </div>
        <div class="col-sm-12 col-md-6">
          <label for='pwd'>Your secret</label>
          <input id='pwd' placeholder='has no name'>
        </div>
      </div>
      <button id='login' class='button button-primary'>Login / Register</button>
    </fieldset>
  </form>
</div>
